
/*
	Slideshow
*/

#slides {
	z-index:100;
	margin-top: 0px !important;
}

.slides_container {
	width:900px;
	overflow:hidden;
	position:relative;
	display:none;
	margin-top: 10px;
}

.slides_container div.slide {
	width:570px;
	height:250px;
	display:block;
}
#slides .next,#slides .prev {
	position:absolute;
	top:200px;
	left:0px;
	width:24px;
	height:43px;
	display:block;
	z-index:101;
}

#slides .next {
	left:876px;
}

/*
	Pagination
*/

.pagination {
	margin:26px auto 0;
	width:100px;
}

.pagination li {
	float:left;
	margin:0 1px;
	list-style:none;
}

.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url(../images/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}

.pagination li.current a {
	background-position:0 -12px;
}

/*
	Caption
*/

